/* this  is nav color and pre footer color  */
.nav-color{
    background: rgb(0,128,0);
    background: linear-gradient(315deg, rgba(0,128,0,0.7198275862068966) 27%, rgba(112,224,0,1) 71%);
}
.slider-height{
    height: 530px;
}
/* volnterere section  */
.volenteer-img{
    height: 211px;
    width: 211px;
}
.volunter-info {
    box-shadow: 0 3px 5px rgb(85 85 85 / 20%);
    padding: 12px 5px;
}
.volunter-info > span {
    color: #777777;
}
.volunter-info > h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}
.card-img{
    height: 100%;
}
/* blog page css  */
.blog-bg-img{
   background-image: url(images/pexels-thirdman-7656748.jpg);
}
/* contact css */
.contact-img{
    background-image: url(images/contact\ \(1\).jpg);
    height: 350px;
    width: 100%;
    background-position: center;
}
.contact-from-width{
   width: 60%;
}
.list-prob{
    list-style: none;
}

/* about us css  */
.about-img{
   height: 430px;
   width: 350px;
}
.about-gallary{
    height: 300px;
    width: 250px;
    padding: 5px 3px;
}
/* footer section css  */
.footer-li-prob{
   list-style: none;
}
.footer-li-a{
    text-decoration: none;
    color: gray;
}
.footer-img{
    height: 60px;
    width: 60px;
    padding: 5px 3px;
}
.footer-p-color{
    color: gray;
}
/* footer icon */
.fab ,.fas {
    color: green;
    font-size: 20px;
}
